<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.SAP_DBConnectionString"
            connectionString="Data Source=DESKTOP-C2N6QTV;Initial Catalog=SAP_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.ClubConnectionString"
            connectionString="Data Source=DESKTOP-C2N6QTV;Initial Catalog=Club;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>